<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:~/stone/demo</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>sa</param-value>
	</context-param>

	<filter>
		<filter-name>demoSupportFilter</filter-name>
		<filter-class>org.siqisource.demosupport.DemoSupportFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>demoSupportFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>


	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/h2/*</url-pattern>
	</servlet-mapping>


</web-app>
